@font-face {
  font-family: Hacked;
  src: url("./Hacked-KerX.ttf") format("truetype");
  font-display: block;
}

.logo {
  font-family: "Hacked";
}

.post-content > img {
  border-radius: 0.55rem !important;
}

.page-number.current {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-global {
    padding-bottom: 2rem;
  }
}
