<section class="section-header pb-0 bg-primary">
</section>
<div class="section section-sm bg-primary text-black">
    <article class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 shadow-soft p-4 border border-light rounded post-content text-break">
                <%- page.content %>
            </div>
        </article>
    </div>
